<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>My Name : Bisma</h1>
        <h2>Call Name : Tidak penting</h2>
        <h4>Additional Info : Animus</h4>
    </div>
    
    {{>footer}}
</body>

</html>